html {
  position: relative;
  min-height: 100%;
  padding-bottom: 30px;
}
.header {
  margin-bottom: 30px;
}
.flash-alert {
  position: fixed;
  top: 25px;
  z-index: 1;
}
.octicon {
  display: inline-block;
  vertical-align: center;
  fill: currentColor;
}
.attachment_delete {
  color: red;
}
